mixin funcDoclet(func, isCtor, parent)
	h3(id=func.longname + (isCtor ? '~ctor' : ''))
		+funcdeclx(func, isCtor, parent)
		span.link
			a(href='#' + func.longname)= '#'
	if func.description
		p.description= func.description
	
		
mixin title(doclet, prefix)
	h3(id=doclet.longname)
		if prefix
			span= prefix
		span= doclet.name
		span.link
			a(href="#" + doclet.longname)= '#'

mixin simpleDoclet(doclet)
	+title(doclet)
	if doclet.description
		p.description= doclet.description

mixin clazzDoclet(doclet)
	+title(doclet, 'Class:')
	if doclet.classdesc
		p.classdesc= doclet.classdesc
	+funcDoclet(doclet, true)
	- var functions = _.filter(doclet.members, function(doclet) {return doclet.kind === 'function';});
	- var constants = _.filter(doclet.members, function(doclet) {return doclet.kind === 'constant';});
	each constant in tools.sortByName(constants)
		+simpleDoclet(constant)
	each func in tools.sortByName(functions)
		+funcDoclet(func, false, doclet.name)
	
	

mixin module(id)
	- var module = modules[id];
	if id !== '_GLOBAL'
		h2.modulename(id=module)
			span module
			span= tools.modulename(id)
	each constant in tools.sortByName(module.constants)
		article.constant
			+simpleDoclet(constant)
	each func in tools.sortByName(module.functions)
		article.function
			+funcDoclet(func)
	each interface in tools.sortByName(module.interfaces)
		article.interface
			+clazzDoclet(interface)
	each clazz in tools.sortByName(module.classes)
		article.clazz
			+clazzDoclet(clazz)


section.module
	+module('_GLOBAL')
each id in _.filter(_.keys(modules), function(name) {return name !== '_GLOBAL';})
	section.module
		+module(id)
