mixin examples(examplesArray)
	each example in examplesArray
		pre.example
			code= example


mixin see(seeArray)
	h4 Links:
	ul.links
		each see in seeArray
			- var link = tools.linkFromSee(see);
			if link.url
				li
					a(href=link.url)= link.name || link.url
			else
				li= link.name


		
mixin title(doclet, id)
	- var symbols = {'class': 'cube', 'module': 'cubes'}
	- var colors = {'class': 'orange', 'module': 'purple', 'function': 'teal', 'member': 'blue', 'constant': 'red'}
	h2.title
		span.ui.label(class=colors[doclet.kind], style='background-color: #1B1C1D !important; border-width: 3px; ')= doclet.kind.substr(0,1)
		//.ui.circular.label(class=colors[doclet.kind])
		//i.icon(class=symbols[doclet.kind] || 'leaf', style='color: ' + colors[doclet.kind] + ';')
		- var names = tools.splitName(doclet)
		.names
			span.module= names.module
			span.parent= names.parent
			if doclet.kind == 'class'
				span.name
					+funcdeclx(names.name, doclet, true)
			else if doclet.kind == 'function'
				span.name
					+funcdeclx(names.name, doclet, false)
			else
				span.name= names.name
			
			a(href="#" + id).permalink
				i.tiny.icon.linkify

mixin typeList(type)
	ul.types
		each t in type.names
			li.typename
				if tools.isBuiltInType(t)
					span= t
				else
					a(href='#' + tools.idFromLongname(t))= t
	

mixin paramDetails(param)
	if param
		h4.paramname= param.name
			if param.type
				+typeList(param.type)
			if param.optional
				span.optional optional
			if param.defaultvalue !== undefined
				span.default , default: 
				span.defaultvalue= param.defaultvalue
		if param.description
			+optMarkdown(param.description, 'description')

mixin paramsList(params, className)
	ol.params(class=className)
		each param in params
			li
				+paramDetails(param)

mixin details(doclet)
	if doclet.description
		+optMarkdown(doclet.description, 'description')
	if doclet.classdesc
		+optMarkdown(doclet.classdesc, 'classdesc')
	if !doclet.classdesc && !doclet.description
		p
			em No description available.
	if doclet.defaultvalue !== undefined
		p Default:
			span= doclet.defaultvalue
	if doclet.params && doclet.params.length > 0
		h4 Arguments:
		+paramsList(doclet.params, 'argumentlist')
	if doclet.returns && doclet.returns.length > 0
		h4 Returns:
		+paramsList(doclet.returns)
	if doclet.properties
		h4 Properties:
		+paramsList(doclet.properties)
	if !doclet.properties
		+members(doclet)
		//p= JSON.stringify(doclet.properties)
	if doclet.examples
		h4 Example code:
		+examples(doclet.examples)
	if doclet.see
		+see(doclet.see)
	

mixin infolist(doclet)
	.ui.very.relaxed.horizontal.list.infolist
		.item
			i.large.tag.middle.aligned.icon
			.content
				.description Kind
				.header= doclet.kind
		if doclet.type
			.item
				i.large.diamond.middle.aligned.icon
				.content
					.description Type
					.header
						+typeList(doclet.type)
		if doclet.implements
			.item
				i.large.spy.middle.aligned.icon
				.content
					.description Implements
					.header= doclet.implements
		if doclet.inherits
			.item
				i.large.sitemap.middle.aligned.icon
				.content
					.description Inherits
					.header= doclet.inherits
		if doclet.scope
			.item
				i.large.unhide.middle.aligned.icon
				.content
					.description Scope
					.header= doclet.scope
		.item
			i.large.code.middle.aligned.icon
			.content
				.description Source
				a.header(href=doclet.meta.url)= doclet.meta.filename + ':' + doclet.meta.lineno


mixin members(doclet)
	- var members = _.chain(flat).where({memberof: doclet.longname}).sortBy('longname').value()
	if members.length > 0
		h4 Members:
		ul.members
			each member in members
				- var id = tools.idFromLongname(member.longname)
				li
					a(href='#' + id)= member.name
	
mixin doclet(doclet)
	- var id = tools.idFromLongname(doclet.longname)
	article.module(id=id)
		+title(doclet, id)
		+infolist(doclet)
		+details(doclet)
		//if doclet.kind == 'event'
			p= JSON.stringify(doclet)
	
mixin module(module)
	h2.modulename(id=module.longname)
		.ui.horizontal.big.purple.label module
		span= tools.modulename(module.longname)
	if module.description
		+optMarkdown(module.description, 'moduledescription')
	else
		p
			em No description available.

- var flat = doclet.asFlat()
each doclet in flat
	if doclet
	+doclet(doclet)

