extends layout.jade


block title
	title Doclets
	meta(name='description', content='JSDoc goes CI. Automated API-Doc generation for Javascript')

block content
	.hero
		.background
		h1.ui.icon.header
			img.icon.logo(src='logo.svg')
			.content Doclets
				.ui.sub.header JSDoc goes <em>CI</em>

		p Simple automated API-Doc generation for Javascript
		.social
			iframe#twitter-widget-0.twitter-share-button.twitter-share-button-rendered.twitter-tweet-button(scrolling='no', frameborder='0', allowtransparency='true', title='Twitter Tweet Button', src='http://platform.twitter.com/widgets/tweet_button.b212c8422d3b3079acc6183618b32f10.en.html#dnt=false&hashtags=doclets&id=twitter-widget-0&lang=en&original_referer=http%3A%2F%2Flocalhost%3A8080%2F&related=gelipp2000&size=l&text=%23JSDoc%20goes%20CI!%20Automated%20%23API%20%23documentation%20generation%20for%20%23javascript.&time=1456994094926&type=share&url=https%3A%2F%2Fwww.doclets.io%2F&via=doclets_io', style='position: static; visibility: visible; width: 76px; height: 28px;')
			a.github-button(href='https://github.com/lipp/doclets', data-icon='octicon-star', data-style='mega', data-count-href='/lipp/doclets/stargazers', data-count-api='/repos/lipp/doclets#stargazers_count', data-count-aria-label='# stargazers on GitHub', aria-label='Star lipp/doclets on GitHub', style='display: none;') Star
			script#github-bjs(async='', defer='', src='https://buttons.github.io/buttons.js')
				
		.ui.list
			.item
				i.icon.check.circle
				.content Easy, Beautiful &amp; Clear
			.item
				i.icon.check.circle
				.content GitHub Integration
			.item
				i.icon.check.circle
				.content Tags and Branches
			.item
				i.icon.check.circle
				.content Free for Open Source
		if !user
			.login
				a.ui.huge.button.primary#get-started(href='/auth/github') 
					i.github.icon
					.wrap
						span Login with
						| GitHub
		.info 
			span Doclets.io is in alpha phase. 
			span Please report issues or give feedback <a href="https://github.com/lipp/doclets/issues">here</a>.


	#samples.ui.vertical.segment
		.ui.container
			#diagram
				.ui.grid
					.center.aligned.row
						.column.sixteen.wide
							span.ui.black.big.label
								i.icon.code.text
								strong JSDoc
							i.icon.plus
							span.ui.black.big.label
								i.icon.file.text
								strong Markdown
							i.icon.plus
							span.ui.black.big.label
								i.icon.file.text.outline
								strong .doclets.yml
					.center.aligned.row
						.column.sixteen.wide
							#cloud
								i.huge.angle.double.down.icon

			#screenshots
				a.img-api(href='/lipp/ScrollMagic/add-to-doclets')
					img.ui.big.circular2.bordered.image(src='doclets_screen_api.png')
				a.img-md(href='/lipp/ScrollMagic/add-to-doclets/about')
					img.ui.big.circular2.bordered.image(src='doclets_screen_md.png')

	
	#ads.ui.vertical.segment
		.ui.container
			.ui.equal.width.stackable.internally.celled.grid
				.center.aligned.row
					.column
						h1.ui.header.hero-header
							span.underline API-Doc is important
						span.punch Now it's also easy!
						p Doclets.io is the missing <strong>hosted and automated API-Doc generation service for Javascript</strong>. By 
							| simplifying API-Doc setup it enables you to actually <em>focus on writing documentation</em>!
						p Doclets.io <strong>automatically creates API-Doc</strong> for <strong>every tag and <em>selected</em> branches</strong>, supporting <a href="http://usejsdoc.org">JSDoc</a> comments and <a href='https://daringfireball.net/projects/markdown/'>Markdown</a> articles.
					.column.focus
						.ui.list
							.item
								.hero-icon
									i.huge.middle.aligned.icon.ban
										i.big.middle.aligned.icon.trash
								span.dont Don't spam your repository 
								span.else with a truckload of HTML/CSS files for your API-Doc. <br> One simple configuration file is enough.
							.item 
								.hero-icon
									i.huge.middle.aligned.icon.ban
										i.big.middle.aligned.icon.question
								span.dont Don't waste time 
								span.else with build-systems to add API-Doc generation. <br> Just two clicks to add your repository.
							.item 
								.hero-icon
									i.huge.middle.aligned.icon.ban
										i.big.middle.aligned.icon.student
								span.dont Don't sweat 
								span.else about release management of your API-Doc. <br> Tags and <em>selected</em> branches are auto-published.

			
		

	
	.ui.vertical.segment
		.ui.container
			h1.ui.centered.header.hero-header 
				span Getting started
			.ui.two.column.middle.aligned.stackable.grid
				.ui.column
					//.ui.ordered.relaxed.huge.list
						.item Login with GitHub
						.item Add a repository
						.item Create a <em>.doclets.yml</em> file
						.item Push
					.ui.small.fluid.vertical.ordered.steps
						.step
							.content
								.title 
									i.icon.github
									| Login with GitHub
								.description Doclets.io needs permissions to install a webhook
						.step
							.content
								.title 
									i.icon.plus
									| Add Repository
								.description The source must be <a href='http://usejsdoc.org'>JSDoc</a> commented
						.step
							.content
								.title 
									//.doclets.yml
									i.icon.code 
									| .doclets.yml
								.description Create a simple <a href='/doclets.yml'>configuration file</a>
						.step
							.content
								.title 
									i.icon.cloud.upload
									| Push
								.description Commit and push your changes
						//.step
							.content
								.title 
									i.icon.check
									| Ready
								.description Let Doclets.io automatically create documentation


				.ui.column
					.ui.embed(data-url='https://youtube.com/embed/V87knrNqT0k')

	.ui.vertical.segment
		.ui.container
			.recents
				h1.ui.centered.header.hero-header 
					span Newest Doclets
				.ui.three.stacked.stackable.cards
					each docletParams in doclets
						- var doclet = docletParams.doclet
						.card
							.content
								a.header(href=doclet.getDocletUrl())= doclet.repo
									.meta
										span= doclet.version
		
								.description= doclet.getDescription()
									br
									a(href=doclet.getRepoUrl()) all versions
							.extra.content
								span Published #{moment(doclet.createdAt).fromNow()} 
									a.right.floated(href=doclet.owner) by&nbsp;
										span= doclet.owner
										if doclet._owner.image
											img.ui.image(src=doclet._owner.image)
	
