extends layout.jade
block content

	.hero
		h1#logo doclets.io
		h2#tagline Automated package documentation for Javascript
		a#get-started(href='/howto') 
			h3 Get started
			span submit your package

	#highlights
		ul
			li
				h3 Automated
				p Automatically built and published docs for 
					| <strong>tags</strong> and selectable <strong>branches</strong> 
  
			li
				h3 Hosted
				p Free hosting at doclets.io for all of your projects.
					| Don't mess around with domains and servers any more!
  
			li 
				h3 Hassle-free
				p A super simple configuration file lets you add <em>Javascript</em> and <em>Markdown</em> files
					| to your documentation

	#recents
		h2 recently updated doclets
		ul
			each doclet in doclets
				li.doclet
					h3
						a(href=doclet.owner + '/' + doclet.repo)= doclet.repo
					p.description= doclet.description
					p.version
						a(href=doclet.owner + '/' + doclet.repo + '/' + doclet.version)= doclet.version
						| &nbsp;published #{moment(doclet.date).fromNow()} by&nbsp;
						a(href=doclet.owner)= doclet.owner

