extends layout.jade
block content
	.hero
		.background
		h1.ui.icon.header
			img.icon.logo(src='logo.svg')
			.content Doclets
				.ui.sub.header The API-Doc press

		p Automated documentation generation for JSDoc commented Javascript
		.ui.list
			.item
				i.icon.check.circle
				.content JSDoc
			.item
				i.icon.check.circle
				.content GitHub Integration
			.item
				i.icon.check.circle
				.content Tags and Branches
		if !user
			.login
				a.ui.huge.button.primary#get-started(href='/auth/github') 
					i.github.icon
					.wrap
						span Login with
						| GitHub

	.ui.vertical.segment
		.ui.container		
						
			.recents
				h3.ui.dividing.header recently updated doclets
				.ui.three.stacked.stackable.cards
					each docletParams in doclets
						- var doclet = docletParams.doclet
						.card
							.content
								a.header(href=doclet.getDocletUrl())= doclet.repo
									.meta
										span= doclet.version
		
								.description= doclet.getDescription()
									br
									a(href=doclet.getRepoUrl()) all versions
							.extra.content
								span Published #{moment(doclet.createdAt).fromNow()} by&nbsp;
									a(href=doclet.owner)= doclet.owner
	
