extends layout.jade

block title
	title Doclets
	meta(name='description', content='JSDoc goes CI. Automated API-Doc generation for Javascript')

block content
	.hero
		.background
		h1.ui.icon.header
			img.icon.logo(src='logo.svg')
			.content Doclets
				.ui.sub.header JSDoc goes <em>CI</em>

		p Simple automated API-Doc generation for Javascript
		.social
			a.twitter-share-button(href='https://twitter.com/share', data-text='JSDoc goes CI! Automated API-Doc generation for Javascript.', data-via='doclets_io', data-size='large', data-related='gelipp2000', data-hashtags='doclets') Tweet
			script.
				!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
			a.github-button(href='https://github.com/lipp/doclets', data-icon='octicon-star', data-style='mega', data-count-href='/lipp/doclets/stargazers', data-count-api='/repos/lipp/doclets#stargazers_count', data-count-aria-label='# stargazers on GitHub', aria-label='Star lipp/doclets on GitHub', style='display: none;') Star
			script#github-bjs(async='', defer='', src='https://buttons.github.io/buttons.js')
				
		.ui.list
			.item
				i.icon.check.circle
				.content Easy, Beautiful &amp; Clear
			.item
				i.icon.check.circle
				.content GitHub Integration
			.item
				i.icon.check.circle
				.content Tags and Branches
		if !user
			.login
				a.ui.huge.button.primary#get-started(href='/auth/github') 
					i.github.icon
					.wrap
						span Login with
						| GitHub
		.info 
			span Doclets.io is in alpha phase. 
			span Please report issues or give feedback <a href="https://github.com/lipp/doclets/issues">here</a>.

	#ads.ui.vertical.segment
		.ui.equal.width.stackable.internally.celled.grid
			.center.aligned.row
				.column
					h1.ui.header.hero-header
						span.underline API-Doc is important
					span.punch Now it's also easy!
					p Doclets.io is the missing <strong>hosted and automated API-Doc generation service for Javascript</strong>. By 
						| removing all the hurdles to setup API-Documentation it enables you to focus on actually writing Documentation!
					p Doclets.io automatically creates API-Doc for every tag and <em>selected</em> branches, supporting <a href="http://usejsdoc.org">JSDoc</a> comments and additionally Markdown articles.
				.column.focus
					h1.ui.header.hero-header
						span.underline Focus on content
					span.punch Write documentation!
					.ui.list
						.item 
							span.dont Don't spam your repository 
							span.else with a truckload of HTML/CSS files for your API-Doc
						.item 
							span.dont Don't waste time 
							span.else with build-systems to add API-Doc generation
						.item 
							span.dont Don't sweat 
							span.else about release management of your API-Doc

	.ui.vertical.segment
		.ui.container
			h1.ui.centered.header.hero-header 
				span How it works
			.ui.two.column.middle.aligned.stackable.grid
				.ui.column
					//.ui.ordered.relaxed.huge.list
						.item Login with GitHub
						.item Add a repository
						.item Create a <em>.doclets.yml</em> file
						.item Push
					.ui.small.fluid.vertical.ordered.steps
						.step
							.content
								.title 
									i.icon.github
									| Login with GitHub
								.description Doclets.io needs permissions to install a webhook
						.step
							.content
								.title 
									i.icon.plus
									| Add Repository
								.description The source must be <a href='http://usejsdoc.org'>JSDoc</a> commented
						.step
							.content
								.title 
									//.doclets.yml
									i.icon.code 
									| .doclets.yml
								.description Create a simple <a href='/doclets.yml'>configuration file</a>
						.step
							.content
								.title 
									i.icon.cloud.upload
									| Push
								.description Commit and push your changes
						//.step
							.content
								.title 
									i.icon.check
									| Ready
								.description Let Doclets.io automatically create documentation


				.ui.column
					.ui.embed(data-url='https://youtube.com/embed/n-q5N7HEcqQ')

	.ui.vertical.segment
		.ui.container
			.recents
				h1.ui.centered.header.hero-header 
					span Newest Doclets
				.ui.three.stacked.stackable.cards
					each docletParams in doclets
						- var doclet = docletParams.doclet
						.card
							.content
								a.header(href=doclet.getDocletUrl())= doclet.repo
									.meta
										span= doclet.version
		
								.description= doclet.getDescription()
									br
									a(href=doclet.getRepoUrl()) all versions
							.extra.content
								span Published #{moment(doclet.createdAt).fromNow()} by&nbsp;
									a(href=doclet.owner)= doclet.owner
	
