
html(lang='en')
	script(type="text/javascript").
		window.cookieconsent_options = {"message":"This website uses cookies (Twitter sharing, Google Analytics and user login) to ensure you get the best experience on our website. By continuing you are giving consent to cookies being used. Thank you.","dismiss":"Got it!","learnMore":"More info","link":null,"theme":"dark-bottom", "container": "body"};

	script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js")
	
	head
		meta(charset='utf-8')
		block title
		title doclets
		link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
		link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
		link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
		link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
		link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
		link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
		link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
		link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
		link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
		link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
		link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
		link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
		link(rel='manifest', href='/manifest.json')
		meta(name='msapplication-TileColor', content='#ffffff')
		meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
		meta(name='theme-color', content='#ffffff')
		meta(name='twitter:card', content='summary_large_image')
		meta(name='twitter:site', content='@doclets_io')
		meta(name='twitter:title', content='Doclets.io: JSDoc goes CI')
		meta(name='twitter:description', content='Simple automated and hosted API-Docs for Javascript / JSDoc with GitHub integration.')
		meta(name='twitter:image', content='https://doclets.io/card.png')
		
		link(rel='canonical', href='https://www.doclets.io/')
		link(href='//fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/index-style.css')
		link(rel='stylesheet', href='/style.css')
		link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/styles/default.min.css")
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css')
		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.js')

		script.
			$(function() {
				$('.ui.message .close').on('click', function() {
					$(this).closest('.message').transition('fade')
				})

				$('.ui.embed').embed()

				$('.badge-pop').popup({hoverable: true})
				$('.tool-tip').popup({hoverable: true, delay: {show: 200, hide: 0}})

			})
		style
			include ../node_modules/normalize.css/normalize.css

		block styles

		block scripts
			
	body(itemscope='', itemtype='http://schema.org/WebSite')
		meta(itemprop='url', content='https://www.doclets.io/')

		nav.ui.top.large.inverted.fixed.menu
			.ui.container
				a.item(href='/', class= path === '/' ? 'active' : undefined) 
					img.icon.logo(src='/logo.svg')
					| Doclets
				if username
					a.item(href='/' + username, class= !repo && !doclet ? 'active' : undefined)= username
					if repo
						a.item(href='/' + repo._id, class= !doclet ? 'active' : undefined)= repo.name
					else if doclet
							a.item(href=doclet.getRepoUrl())= doclet.repo
							a.item.active(href=doclet.getDocletUrl())= doclet.version
				.right.menu
					if user
						a.item(href='/logout')
							i.icon.sign.out 
							span logout
						a.item(href='/' + user._id, class= path === ('/' + user._id) ? 'active' : undefined)
							| Account
							span.wrap
								img.ui.avatar.image(src=user.image)
					else
						a.item(href='/auth/github')
							i.icon.sign.in
							| login
		
		block content

		footer.ui.vertical.segment
			.ui.container.center.aligned
				.ui.horizontal.large.bulleted.link.list
					a.item(href='https://twitter.com/doclets_io') Twitter
					a.item(href='https://github.com/lipp/doclets') GitHub Repo
					a.item(href='https://github.com/lipp/doclets/issues') Create Issue
					a.item(href='mailto:doclets.io@gmail.com') Mail
					a.item(href='http://usejsdoc.org', target='_blank') JSDoc Reference
					a.item(href='/doclets.yml') doclets.yml
					a.item(href='https://m.do.co/c/d6ca6a8c7fd0') Digital Ocean

				h4.ui.header#greet Made with <i class="icon red heart" style="display: inline; font-size: 12px; margin-left: 2px;"> </i>in &nbsp;
					a(href='https://www.google.de/maps/place/Darmstadt/data=!4m2!3m1!1s0x47bd70641173cdd9:0x422435029b0c5f0?sa=X&ved=0ahUKEwjA09z6x4nKAhUEzRQKHZtaC2cQ8gEIHjAA', style="color: inherit;") Darmstadt

	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-42875905-4', 'auto');
		ga('send', 'pageview');



