
html(lang='en')
	head
		meta(charset='utf-8')
		title doclets
		link(rel='canonical', href='https://www.doclets.io/')
		link(href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/index-style.css')
		link(rel='stylesheet', href='/style.css')
		link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/styles/default.min.css")
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css')
		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.js')

		script.
			$(function() {
				$('.ui.message .close').on('click', function() {
					$(this).closest('.message').transition('fade')
				})

			})
		style
			include ../node_modules/normalize.css/normalize.css

		block styles

		block scripts
			
	body(itemscope='', itemtype='http://schema.org/WebSite')
		meta(itemprop='url', content='https://www.doclets.io/')

		nav.ui.top.large.inverted.fixed.menu
			.ui.container
				a.item(href='/', class= path === '/' ? 'active' : undefined) 
					i.icon.setting
					| Doclets
				if username
					a.item(href='/' + username, class= !repo && !doclet ? 'active' : undefined)= username
					if repo
						a.item(href='/' + repo._id, class= !doclet ? 'active' : undefined)= repo.name
					else if doclet
							a.item(href=doclet.getRepoUrl())= doclet.repo
							a.item.active(href=doclet.getDocletUrl())= doclet.version
				.right.menu
					a.item(href='http://usejsdoc.org', target='_blank') JSDoc	
					if user
						a.item(href='/logout')
							i.icon.sign.out 
							span logout
						a.item(href='/' + user._id, class= path === ('/' + user._id) ? 'active' : undefined)
							| Account
							span.wrap
								img.ui.avatar.image(src=user.image)
					else
						a.item(href='/auth/github')
							i.icon.sign.in
							| login
		
		block content

		footer
			h4#greet Made with &hearts; in &nbsp;
				a(href='https://www.google.de/maps/place/Darmstadt/data=!4m2!3m1!1s0x47bd70641173cdd9:0x422435029b0c5f0?sa=X&ved=0ahUKEwjA09z6x4nKAhUEzRQKHZtaC2cQ8gEIHjAA') Darmstadt


