
mixin funcdecl(func, isCtor)
	- var id = func && tools.idFromLongname(func.longname)
	a(href=apiPath + '#' + id + (isCtor ? '-ctor' : ''))
		+funcdeclx(func.name, func, isCtor)
		span.link
			a(href=apiPath + '#' + id)
		
- var colors = {'class': 'orange', 'module': 'purple', 'function': 'teal', 'member': 'yellow', 'constant': 'red'}

mixin childlist(node, root)
	each child in childs(node)
		- var hasChildren = childs(child.node).length > 0
		- var doclet = child.node.__doclet
		- var id = doclet && tools.idFromLongname(doclet.longname)
		if hasChildren
			.ui.inverte.accordion
				if doclet
					.title.active(id='nav-' + id)
						i.dropdown.icon
						a(href=apiPath + '#' + id)= child.name
							span.kind.ui.circular.label(class=doclet.kind + ' ' + (colors[doclet.kind] || 'yellow'))
				else
					.title.active
						i.dropdown.icon
						span= child.name
							span.kind(class='namespace') {}
				.content.active
					+childlist(child.node)
		else if doclet
			.leaf(id='nav-' + id)
				a(href=apiPath + '#' + id)= child.name
					span.kind.ui.circular.label(class=doclet.kind + ' ' + (colors[doclet.kind] || 'yellow'))


mixin module(module)
	.module
		.ui.inverte.accordion
			- var id = tools.idFromLongname(module.longname)
			.title.active(id='nav-' + id)
				i.dropdown.icon
				if module.longname != 'globals'
					a(href=apiPath + '#' + id)= tools.modulename(module.longname)
						span.kind.ui.circular.label(class='module ' + colors.module)
				else
					a(href=apiPath + '#' + id)
						em Globals
						span.kind.ui.circular.label(class='module ' + colors.module)
			.content.active
				+childlist(module.childs)


nav#api-nav.ui.left.inline.inverte.large.vertical.menu.visible
	each article in doclet.data.articles
		a.item(href=articlesPath + article.id)
			h3= article.title
	.item.api
		h2.header 
			a(href=apiPath) API

		- var tree = doclet.asTree()
		- var globals = _.findWhere(tree, {longname: 'globals'})
		if tree.length > 1 && childs(globals).length > 0
			each module in tree
				+module(module)
		else if globals && globals.childs
			.module
				+childlist(globals.childs)



