
mixin funcdecl(func, isCtor)
	a(href=apiPath + '#' + func.longname + (isCtor ? '~ctor' : ''))
		+funcdeclx(func, isCtor)
		span.link
			a(href=apiPath + '#' + func.longname)
		

mixin childlist(node)
	ul
		each child in childs(node)
			li
				h4
					- var doclet = child.node.__doclet
					if doclet
						a(href=apiPath + '#' + doclet.longname)= child.name
							span.kind(class=doclet.kind)= doclet.kind.substr(0,2).toUpperCase()
					else
						span= child.name
						span.kind(class='namespace') NA
				+childlist(child.node)

mixin module(module)
	h4.modulename
		- var id = module.longname
		a(href=apiPath + '#' + id)= tools.modulename(id)
			span.kind(class='module') MO
	+childlist(module.childs)


nav
	h1.packagename= repo
	h2.version= version
	span by
		a(href='../')= owner
	a.otherversions(href=versionsPath) other versions
	if articles.length > 0
		h2.articles-header Articles
		ul.articles
			each article in articles
				li
					a(href=articlesPath + article.id)= article.title
	h2.apidoc-header API Doc
	ul.modules
		each module in tree
			li.module
				+module(module)

