
mixin funcdecl(func, isCtor)
	- var id = func && tools.idFromLongname(func.longname)
	a(href=apiPath + '#' + id + (isCtor ? '-ctor' : ''))
		+funcdeclx(func.name, func, isCtor)
		span.link
			a(href=apiPath + '#' + id)
		

mixin childlist(node, root)
	each child in childs(node)
		- var hasChildren = childs(child.node).length > 0
		- var doclet = child.node.__doclet
		- var id = doclet && tools.idFromLongname(doclet.longname)
		if hasChildren
			.ui.inverte.accordion
				if doclet
					.title.active(id='nav-' + id)
						i.dropdown.icon
						a(href=apiPath + '#' + id)= child.name
							span.kind(class=doclet.kind)= doclet.kind.substr(0,2).toUpperCase()
				else
					.title.active
						i.dropdown.icon
						span= child.name
							span.kind(class='namespace') {}
				.content.active
					+childlist(child.node)
		else if doclet
			.leaf(id='nav-' + id)
				a(href=apiPath + '#' + id)= child.name
					span.kind(class=doclet.kind)= doclet.kind.substr(0,2).toUpperCase()


mixin module(module)
	.module
		.ui.inverte.accordion
			- var id = tools.idFromLongname(module.longname)
			.title.active(id='nav-' + id)
				i.dropdown.icon
				if module.longname != 'globals'
					a(href=apiPath + '#' + id)= tools.modulename(module.longname)
						span.kind(class='module') MO
				else
					a(href=apiPath + '#' + id)
						em Globals
						span.kind(class='module') MO
			.content.active
				+childlist(module.childs)


nav.ui.left.inline.inverte.large.vertical.menu.visible
	.item.header
		h1= repo
		span by
			a(href='../')= ' ' + owner
				img.ui.left.spaced.avatar.image(src=_owner.image, style='border-radius: 0px;')
		h2.version= version
		span
			a(href=versionsPath) other versions
	each article in articles
		a.item(href=articlesPath + article.id)= article.title
	.item.api
		h2.header 
			a(href='#') API
		- var globals = _.findWhere(tree, {longname: 'globals'})
		if tree.length > 1 && childs(globals).length > 0
			each module in tree
				+module(module)
		else
			.module
				+childlist(globals.childs)



