if owner || user
	- var profile = owner || user 
	.ui.card
		.image
			img(src=profile.image)
		.content
			.header
				a(href='/' + profile._id)= profile._id
			.meta
				span= profile.name
			.ui.middle.aligned.very.relaxed.divided.list
				.item
					i.github.icon
					.content
						a(href=profile.url) GitHub Profile
				.item
					i.mail.icon
					.content
						a(href='mailto:' + profile.email)= profile.email

else
	h2 No Profile information

