if owner || user
	- var profile = owner || user 
	.ui.card
		.image
			img(src=profile.image)
		.content
			.header
				a(href='/' + profile._id)= profile._id 
					span.profile-fullname= profile.name
			if profile.createdAt
				.meta
					span= 'Joined ' + moment(profile.createdAt).format('MMMM Do YYYY')
			if profile.bio
				.description= profile.bio
			.ui.middle.aligned.very.relaxed.divided.list
				.item
					i.github.icon
					.content
						a(href=profile.url) GitHub Profile
				if profile.email
					.item
						i.mail.icon
						.content
							a(href='mailto:' + profile.email)= profile.email
				if profile.location
					.item
						i.marker.icon
						.content= profile.location
				if profile.company
					.item
						i.users.icon
						.content= profile.company
				if profile.blog
					.item
						i.world.icon
						.content
							a(href=profile.blog)= profile.blog
		if profile.orgs && profile.orgs.length > 0
			.extra.content
				.ui.horizontal.list
					each org in profile.orgs
						a.item.tool-tip(href='/' + org.name, data-title='Organization', data-content=org.name)
							img.ui.mini.image(src=org.image)


else
	h2 No Profile information

