extends layout

block content
	.ui.container
		.ui.grid
			- var enabled = repo.isWebHookEnabled()
			.twelve.wide.column
				- var first = versions[0]
				- var packageJson = first && first.data.packageJson || {}
				- var description = first && first.getDescription() || repo.description
				h1
					a.name(href='#')= repo.name
				h3 by
					a.user(href='./')= username
				if description
					p.description= description
				else
					p.description
						em No description available
				if packageJson.keywords
					i.icon.tags
					.ui.horizontal.bulleted.list
						each tag in packageJson.keywords
							.item= tag
				h3= '' + versions.length + ' versions documented'
				.ui.huge.link.list
					each doclet in versions
						.item
							a(href=doclet.repo + '/' +  doclet.version)= doclet.version
				if user && user._id == username
					h2.ui.dividing.header Settings
					form.ui.large.form#repos(action='/account/' + repo.name, method='post', name='settings', class=enabled ? 'success' : 'warning')
						.field
							.ui.toggle.checkbox
								input(type='checkbox', id='enabled', name='enabled', checked=repo.isWebHookEnabled())
								label(for='enabled') Doclets generation enabled
							.ui.warning.small.message
								i.icon.close
								.header Attention
								p No documentation will be generated, if this switch is disabled.
							.ui.success.small.message
								i.icon.close
								.header Ready!
								p Documentation will be generated automatically for all branches and new tags.
						each type in [{type: 'branch', name: 'Branches'}, {type: 'tag', name: 'Tags'}]
							- var subset = _.where(doclets, {type: type.type}) 
							if subset.length > 0
								h4.ui.dividing.header= 'Published ' + type.name
								each doclet in subset
									.field
										.ui.checkbox
											input(type='checkbox', id=doclet._id, name=doclet._id, checked=true)
											label= doclet.version
		
						input.ui.button.primary(type='submit', value='submit')
					if error
						.ui.error.message
							i.close.icon
							.header Changes not applied.
							p= error
					if result
						.ui.success.message
							i.close.icon
							.header
								Change applied successfully.
							p= result
			.four.wide.column
				include profile.jade
