extends layout

block scripts
	script.
		$(function() {
			$('input').change(function() {
				var hasChanges = false
				$('input[type=checkbox]').each(function(index, input) {
					input = $(input)
					var wasChecked = input.data('waschecked')
					if (input.prop('checked') && !wasChecked) {
						hasChanges = true
					} else if  (!input.prop('checked') && wasChecked) {
						hasChanges = true
					}
				})
				$('#submit').prop('disabled', !hasChanges)
			})
		})

block content
	.ui.container
		.ui.grid
			- var enabled = repo.isWebHookEnabled()
			.twelve.wide.column
				- var first = versions[0]
				- var packageJson = first && first.data.packageJson || {}
				- var description = first && first.getDescription() || repo.description
				h1.ui.header
					.content= repo.name
						.sub.header by&nbsp;
							a.user(href='./')= username

				if packageJson.keywords
					.tags
						i.icon.tags
						.ui.large.horizontal.bulleted.list
							each tag in packageJson.keywords
								.item= tag
				if description
					p.big.description= description
				else
					p.big.description
						em No description available
				a(href=repo.url, target='_blank')
					i.github.icon
					| View on GitHub
				h3 Doclets:
				.ui.large.relaxed.celled.list
					each doclet in versions
						.item
							.image
								if doclet.type == 'branch'
									i.fork.icon
								else
									i.ticket.icon.image
							.content
								a.header(href=doclet.repo + '/' +  doclet.version)= doclet.version
								p Published #{moment(doclet.createdAt).fromNow()} (#{moment(doclet.createdAt).format('MMMM Do YYYY')})
				if user && user._id == username
					form.ui.large.form#repos(action='/account/' + repo.name, method='post', name='settings', class=enabled ? 'success' : 'warning')
						.field
							.ui.toggle.checkbox
								input(type='checkbox', id='enabled', name='enabled', data-waschecked=enabled, checked=enabled)
								label(for='enabled') Doclets generation enabled
							.ui.warning.small.message
								i.icon.close
								.header Attention
								p No documentation will be generated, if this switch is disabled.
						each type in [{type: 'branch', name: 'Branches'}, {type: 'tag', name: 'Tags'}]
							- var subset = _.where(doclets, {type: type.type}) 
							if subset.length > 0
								h4.ui.dividing.header= 'Published ' + type.name
								each doclet in subset
									.field
										.ui.checkbox
											input(type='checkbox', id=doclet._id, name=doclet._id, data-waschecked=true, checked=true)
											label= doclet.version
		
						input.ui.button.primary#submit(type='submit', value='Apply changes', disabled=true)
					if error
						.ui.error.message
							i.close.icon
							.header Changes not applied.
							p= error
					if result
						.ui.success.message
							i.close.icon
							.header
								Change applied successfully.
							p= result
			.four.wide.column
				include profile.jade
