extends layout.jade

block scripts
	script.
		window.onload = function() {
			document.getElementById('site-search').value = '#{query}'
		}

block content

	if doclets.length > 0
		h2= '' + doclets.length + ' doclet names match for '
			strong= query
		ul#results
			each doclet in doclets
				li.doclet
					a(href=doclet.owner + '/' + doclet.repo + '/' + doclet.version)= doclet.repo + ' ' + doclet.version

	else
		h2 No doclet names match for 
			strong= query

