extends layout.jade

block title
	title= username + ' - Doclets'
	meta(name='description', content=username + "'s has " + doclets.length + ' doclets for Javascript.')

block scripts

	script.
		$(function() {
			$('.ui.dropdown').dropdown({
				onChange: function() {
					$('#add').prop('disabled', false)
				}
			})
		})
block content
	- var docletsByRepository = _.groupBy(doclets, function(doclet) {return doclet.repo})
	- var enabledRepos = _.filter(repos, function(repo) {return repo.isWebHookEnabled()})
	- var disabledRepos = owner && _.filter(owner._accessibleRepos, function(repo) {return !repo.isWebHookEnabled()})
	- var isOwnProfile = user && user._id === username
	- var isOrgMember = user && _.findWhere(user.orgs, {name: username})
	.ui.vertical.segment
		.ui.container
			.ui.grid
				.twelve.wide.column.overview
					if isOwnProfile || isOrgMember
						if owner.needsReauth
							.ui.icon.message.error
								i.icon.warning.circle
								.content
									if owner.needsReauth == 'more-rights'
										.header Sorry, Doclets needs more permissions.
										p Doclets needs permissions to create webhooks, read organization membership and read public repositories (Private Repo Support coming soon). However, Doclets will <strong>never</strong> make changes to any repository content.
									else
										.header Sorry, your GitHub authentication token seems invalid.
										p This can have different reasons. Please re-authenticate next. <em>No</em> added repositories or Doclets will be lost.
									form.ui.large.form(action='/reauth', method='post')
										button.ui.negative.labeled.icon.button(type='submit')
											i.refresh.icon
											| Re-authenticate
						if enabledRepos.length == 0 && !owner.needsReauth
							.ui.icon.message.info
								i.icon.check.circle
								i.icon.close
								.content
									.header Welcome #{user._id},
									p great to have you here!
									p You have no repositories added to Doclets yet.
										| Add one of your GitHub repositories from the <a href="#add">list below</a> and press "add". 
						if enabledRepos.length > 0 && doclets.length == 0 && !owner.needReauth
							.ui.icon.message.info
								i.icon.check.circle
								i.icon.close
								.content
									.header Almost done...
									p You are close to have your first Doclet.
									p Just create a <a>.doclets.yml</a> file and push your changes to
										| your respective GitHub repository. Doclets.io will automatically generate the API documentation for you.
					else if enabledRepos.length === 0
						.ui.center.aligned.segment
							h2 No enabled Repositories
							p #{username} has no enabled repositories yet. 

					if (isOwnProfile && !owner.needsReauth) || (isOrgMember && !user.needsReauth) 
						form.ui.form(method='post', action='/account/addrepo')
							.fields
								.twelve.wide.field
									.ui.fluid.dropdown.labeled.search.icon.button
										i.icon.search
										span.text Select Repository (public only)
										input(type='hidden', name='repo')
										.menu
											each repo in _.sortBy(disabledRepos, function(repo) {return repo.name.toLowerCase()})
												.item(data-value=repo._id)= repo.name + ' / ' + repo.owner
								.four.wide.field
									button#add.ui.labeled.icon.fluid.button.primary(type='submit', disabled=true) 
										i.icon.plug
										| Add
	
					//.ui.one.stacked.cards
					.repo-cards
						each repo in _.sortBy(repos, function(repo) {return repo.name.toLowerCase()})
							- var versions = docletsByRepository[repo.name]
							if repo.isWebHookEnabled() || versions
								.ui.fluid.card
									.content
										.header
											a(href=repo.owner + '/' + repo.name)
												span= repo.name
												span.owner= ' / ' + repo.owner
											if repo.isWebHookEnabled()
												i.small.middle.aligned.green.check.icon.tool-tip(data-content='GitHub integration enabled')
											else
												i.small.middle.aligned.red.remove.icon.tool-tip(data-content='GitHub integration disabled')
										.description= repo.description
									.extra.content
										if versions
											.ui.horizontal.label.tool-tip(data-content=versions.length + ' Doclets available')= versions.length
											.ui.horizontal.bulleted.link.list
												each version in versions
													a.item(href=version.getDocletUrl())= version.version
										else
											.ui.horizontal.label.tool-tip(data-content='No Doclets available yet') 0
											em No Doclets available yet
	
	
				.four.wide.column
					include profile.jade
					.ui.segment
						.ui.two.small.statistics
							.ui.statistic
								.value= doclets.length
								.label Doclets
							.ui.statistic
								.value= enabledRepos.length
								.label Repos
					if isOwnProfile && !owner.needsReauth
						form.ui.large.form(action='/sync', method='post')
							button.ui.fluid.labeled.icon.button(type='submit')
								i.refresh.icon
								| Re-Sync Repositories
			
	
