extends layout.jade
block content
	- var docletsByRepository = _.groupBy(doclets, function(doclet) {return doclet.repo})
	- var enabledRepos = _.filter(repos, function(repo) {return repo.isWebHookEnabled()})
	- var disabledRepos = _.filter(repos, function(repo) {return !repo.isWebHookEnabled()})
	- var isOwnProfile = user && user._id === username
	.ui.container
		.ui.grid
			.twelve.wide.column
				if repos.length == 0
					.ui.message.info
						i.icon.close
						.header No Repositories added yet.
						p Add one of your GitHub repositories from the list below and press "add". 


				.ui.two.stacked.cards
					each repo in _.sortBy(repos, function(repo) {return repo.name.toLowerCase()})
						- var versions = docletsByRepository[repo.name]
						if repo.isWebHookEnabled() || versions
							.ui.card
								.content
									.header
										a(href=username + '/' + repo.name)= repo.name
										if repo.isWebHookEnabled()
											i.tiny.middle.aligned.green.check.icon
										else
											i.tiny.middle.aligned.red.remove.icon
									.description= repo.description
								.extra.content
									if versions
										.ui.horizontal.bulleted.link.list
											each version in _.map(versions, function(doclet) {return doclet.version})
												a.item(href=username + '/' + name + '/' + version)= version
									else
										em No Doclets available yet

				if isOwnProfile
					.ui.dividing.header
					form.ui.form(method='post', action='/account/addrepo')
						.fields
							.six.wide.field
								.ui.fluid.dropdown.labeled.search.icon.button
									i.icon.search
									span.text Select Repository
									input(type='hidden', name='repo')
									.menu
										each repo in _.sortBy(disabledRepos, function(repo) {return repo.name.toLowerCase()})
											.item(data-value=repo._id)= repo.name
							.four.wide.field
								button#add.ui.labeled.icon.button.primary(type='submit') 
									i.icon.plus
									| Add

			.four.wide.column
				include profile.jade
				.ui.two.statistics
					.ui.statistic
						.value= doclets.length
						.label Doclets
					.ui.statistic
						.value= enabledRepos.length
						.label Repositories
		

