extends layout.jade
block content
	- var docletsByRepository = _.groupBy(doclets, function(doclet) {return doclet.repo})
	- var repoNames = _.sortBy(_.keys(docletsByRepository), function(name) {return name.toLowerCase()})
	.ui.container
		.ui.grid
			.ui.row
				.twelve.wide.column
					.ui.four.statistics
						.ui.horizontal.statistic
							.value= doclets.length
							.label Doclets
						.ui.horizontal.statistic
							.value= repoNames.length
							.label Repositories
			.twelve.wide.column

				.ui.two.stacked.cards
					each name in repoNames
						- var docletsByName = docletsByRepository[name]
						- var first = docletsByName[0]
						- var isOwnProfile = user && user._id === username
						.ui.card
							.content
								.header
									a(href=username + '/' + name)= first.repo
								.description= first.description || first._repo.description
								if isOwnProfile
									.ui.horizontal.bulleted.link.list
										each version in _.map(docletsByName, function(doclet) {return doclet.version})
											a.item(href=username + '/' + name + '/' + version)= version
							if !isOwnProfile
								.extra.content
									.ui.horizontal.bulleted.link.list
										each version in _.map(docletsByName, function(doclet) {return doclet.version})
											a.item(href=username + '/' + name + '/' + version)= version
							if isOwnProfile
								.extra.content
									if first._repo.isWebHookEnabled()
										i.green.check.icon
										| Webhook enabled
									else
										i.red.remove.icon
										| Webhook disabled
									a.right.floated(href='/account/' + first.repo) Settings
										i.icon.setting
			.four.wide.column
				include profile.jade
		

