extends layout.jade
block content
	- var first = versions[0]
	- var repo = first._repo
	- var packageJson = first.data.packageJson || {}
	- var description = packageJson.description || repo.description
	h1
		a.name(href='#')= repo.name
		span /
		a.user(href='./')= username
	if description
		p.description= description
	else
		p.description
			em No description available
	if packageJson.tags
		i.icon.tags
		.ui.horizontal.bulleted.list
			each tag in packageJson.tags
				.item= tag
	h3= '' + versions.length + ' versions documented'
	ul
		each doclet in versions
			li
				h4
					a(href=doclet.repo + '/' + doclet.version)= doclet.version

	if user && user._id == username
		a(href='/account/' + first.repo) Repository settings

