extends layout.jade
block content
	- var first = versions[0]
	h2
		a.name(href='#')= first.repo
		span /
		a.user(href='./')= username
	p.description= first.description
	if first.tags
		p.tags= first.tags.join(', ')
	h3= '' + versions.length + ' versions documented'
	ul
		each doclet in versions
			li
				h4
					a(href=doclet.repo + '/' + doclet.version)= doclet.version

	if user && user._id == username
		a(href='/account/' + first.repo) Repository settings

