extends layout.jade
block content
	- var first = versions[0]
	h2
		a.name(href='#')= first.repo.name
		a.user(href='./')= first.repo.user
			img(src=first.repo.user_image, style='width: 100px')
	p.description= first.description
	if first.tags
		p.tags= first.tags.join(', ')
	h3= '' + versions.length + ' versions documented'
	ul
		each doclet in versions
			li
				h4
					a(href=doclet.repo.name + '/' + doclet.repo.branch)= doclet.repo.branch

